<ol>
    <li>The field contains mines scattered all around randomly. Mark all the mines and open all other boxes to win the game.</li>
    <li>Left-click on a box to open it. If it contains a number, that number is the number of how many mines are surrounding it.</li>
    <li>Right-click on a box to mark it as mine.</li>
    <li>If you mark the mine, you can open "unopened" squares around it, opening more areas.</li>
    <li>If you open a box containg mine, the game ends!!!</li>
</ol>
<button mat-button (click)="closeDialog()">Close</button>