.number-1 {
    color: blue;
}

.number-2 {
    color: green;
}
.number-3 {
    color: red;
}
.number-4 {
    color: rgb(104, 1, 104);
}
.number-5 {
    color: rgb(133, 86, 0);
}
.number-6 {
    color: maroon;
}
.number-7 {
    color: orangered;
}
.number-8 {
    color: brown;
}